		#pageHead{ grid-area: header; }
		#pageFooter{ grid-area: footer; }
		#pageArticle{ grid-area: article;}
		
		#mainArticle{height: auto;}

		body{
			margin:0;
			background:#F7F7F7;
			display:grid;
			grid-template-areas:"header" "article" "footer";
			grid-template-rows:25px 1fr 100px;
			grid-template-columns:1fr;
			grid-gap:10px;
			height:100vh;
		}
		/*footer*/
		header{
			z-index:2;
			background:#e5e5e5;
			padding:0;
		}
		header h3{
			position:absolute;
			margin:0 0 0 90%;
			color:#555555;
		}
		header ul{
			position: absolute;
			padding:0;
			margin:0 auto;
			display:block;
		}
		header ul li{
			float:left;
			position: relative;
			padding:0;
			list-style:none;
		}
		header ul li a{
			transition:0.3s ease;
			color:#4d4d4d;
			font-size:1.2em;
			display:block;
			padding:3px 30px 0px 30px;
			text-decoration:none;
		}
		header ul li a:hover{
			background:rgba(100,100,100,0.4);
		}
		
		#searchBar{
			width:35%;
			position:absolute;
			/*margin-left:535px;*/
			margin-left:28%;
			height:23px;
			margin-top:0px;
			padding-left:15px;
			border:none;
			outline:none;
			background:#F1F1F1;
			display:block;
		}
		#langChange{
			margin-left:69.3333%;
			border:none;
			outline:none;
			background:#F1F1F1;
			height:25px;
			cursor:pointer;
		}
		
		#content{
			margin:auto;
			margin-top:30px;
			width:56em;
		}
		.books{
			display:inline-block;
			margin:20px 10px 30px 10px;
			position:relative;
			background:#fff;
			box-shadow:0 10px 10px -5px rgba(0, 0, 0, 0.2);
			border-radius:4px;
			width:16em;
			height:28em;
		}
		.books img{
			margin:20px 0 0 0;
			position:relative;
			width:10em;
			height:15em;
			background:grey
		}
		
		#addItem{
			transition:0.2s ease;
			margin:20px auto 30px auto;
			border:5px solid #E1ECFF;
			border-radius:4px;	
			width:16em;
			height:25em;
		}
		#addItem input{
			transition:0.2s ease;
			margin-top:160px;
			font-size:40px;color:#E1ECFF;
			background:none;
			width:50px;
			outline:none;
			height:50px;
			border:5px solid #E1ECFF;
			border-radius:50px;
			display:block;
		}
		#addItem:hover{
			border:5px solid #C4DAFF;
			cursor:pointer;
		}
		#addItem:hover input{
			border:5px solid #C4DAFF;
			color:#C4DAFF;
			cursor:pointer;
		}
		
		.addBookToCart,.deleteBookToCart{
			padding:3px 7px 3px 7px;
			border:none;
			outline:none;
			color:#fff;
			transition:0.2s ease;
		}
		.deleteBookToCart{ background:#FFC4C4; }
		.addBookToCart{ color:#B0B0B0; }
		.addBookToCart:hover{ background:#E5E5E5; color:#F8F8F8; cursor:pointer;}
		.deleteBookToCart:hover{ background:#FFB1B1; cursor:pointer;}
		
		#addVistiorBut,#addCardBut{
			margin-top:10px;
			margin-left:90vw;
			width:150px;
			height:25px;
		}
		table{
			margin:0 auto 0 auto;
			width:50%;
			margin-top:20px;
			border-collapse: collapse;
		}
		th,td{
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}
		tr:nth-child(even) {
			background: #dddddd;
		}
		th{
			background: #02346F;
			color:#E8E8E8;
		}

.fa-search,.fa-bars{
			background:none;
			border:none;
			position:absolute;
			font-size:1.4em;
			color:#B2B2B2;
			margin-left:50%;
			display:none;
			outline:none;
			cursor:pointer;
		}
		.fa-bars{
			transition:0.2s ease;
			margin:2px 0 0 5%;
		}
		.fa-search{
			font-size:1.2em;
			margin-top:3px;
		}
		@media all and (max-width:1550px){
			header ul li a{
				padding:3px 1em 0px 1em;
			}
		}
		@media all and (max-width:1360px){
			header h3{
				margin-left:80%;
			}
		}
		@media all and (max-width:1300px){
			header ul li a{
				padding:3px 0.5em 0px 0.5em;
			}
		}
		
		@media all and (max-width:1000px)
		{
			#pageFooter
			{
				position: relative;
			}
			footer hr{width:40%;}
			header li a,#searchBar,header h3{
				display:none;
			}
			#content{ width:40em; }
			header ul,header h3{
				display:none;
			}
			#addItem{
				margin-top:50px;
			}
			.books{
				margin-top:50px;
				margin-bottom:0px;
			}
			
			header{
				width:100%;
				position:fixed;
			}
			#searchIco{ z-index:0;}
			#navBars, #searchBar{z-index:2;}
			#navMenu{
				z-index:1;
				display:none;
				background:#02346F;
				width:200px;
				height:100vh;
				padding:30px 0 0 0;
			}
			#navMenu li a{
				padding-bottom:5px;
				width:180px;
				display:block;
				color:#E8E8E8;
			}
			#langChange{
				margin-left:90%;
				background:none;
				color:#B2B2B2;
				font-weight:bold;
			}
			#searchBar{
				width:80%;
				margin-left:5%;
				margin-top:25px;
			}
			.fa-search,.fa-bars{
				display:block;
			}
		}
		@media all and (max-width:650px){
			#content{ width:20em; }
			footer hr {width:50%;}
		}
		@media all and (max-width:400px){
			#content{ width:20em; }
			footer hr {width:70%;}
		}
		#modal{
			z-index:3;
			display:none;
			left:0;
			top:0;
			width:100vw;
			height:100vh;
			background:rgba(0,0,0,0.3);
			position:absolute;
			position:fixed;
		}
		#modal div{
			width:400px;
			height:300px;
			background:#fff;
			position:relative;
			margin-top:15%;
		}
		#modal div i{
			position:absolute;
			margin:2px 0 0 180px;
			color:#C5C5C5;
		}
		#modal div i:hover{
			color:#A2A2A2;
		}
		#addAuthorName,#addBookName,#addPrice{
			margin-top:10%;
			outline:none;
			border-color:rgba(0,0,0,0.04);
			padding:2px 0 2px 10px;
		}
		#addBookName{
			margin-top:15px;
		}
		#addPrice{
			margin-top:15px;
		}
		#addModal{
			border:none;
			outline:none;
			cursor:pointer;
			border:2px solid #EEEEEE;
			border-radius:20px;
			color:#E5E5E5;
			background:none;
			margin:5%;
			width:100px;
			height:30px;
			font-size:1.2em;
		}
		#addModal:hover{
			transition:0.1s ease;
			background:#A0BEFF;
			color:#fff;
		}
		#addImage{
			margin-top:50px;
			width:0;
			height:0;
			overflow:hidden;
		}
		#addImageLabel:hover{
			background:rgba(0,0,0,0.05);
			transition:0.1s ease;
			color:#fff;
		}
		#addImageLabel{
			padding:1px 15px 1px 15px;
			border:1px dashed rgba(0,0,0,0.1);
			color:rgba(0,0,0,0.4);
		}

footer
{
    text-align: center;
    justify-content: center;
}